<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="../css/main.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
        <script src="../js/bootstrap.js"></script>
        <title>HTML Template</title>
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="padding-right: 0; padding-left: 0;">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
              <div class="container-fluid">
                <span class="navbar-brand">T.H</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://github.com/tom-hooper-91/">
                        <img src="../images/github.png" alt="github logo" height="24">
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://www.linkedin.com/in/tom-hooper-726749203">
                        <img src="../images/LinkedIn (2).png" alt="LinkedIn logo" height="24">
                      </a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Blogs
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="blog/html-css.html">Positioning in CSS</a></li>
                        <li><a class="dropdown-item" href="blog/identity-values.html">Identity & Values</a></li>
                        <li><a class="dropdown-item" href="blog/learning-plan.html">Learning Plan</a></li>
                        <li><a class="dropdown-item" href="blog/emotional-intelligence.html">Emotional Intelligence</a></li>
                        <li><a class="dropdown-item" href="blog/javascript-dom.html">JS Fundamentals</a></li>
                        <li><a class="dropdown-item" href="blog/neuroplasticity.html">Mindset</a></li>
                        <li><a class="dropdown-item" href="blog/problem-solving.html">Problem Solving</a></li>
                        <li><a class="dropdown-item" href="blog/learning-plan.html">Learning Plan</a></li>
                        <li><a class="dropdown-item" href="blog/foundations-reflection.html">Foundations Reflection</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Coming soon...</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Projects</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img class="logo align-middle" src="../images/dev-logo.png" alt="EDA logo">
          </div>
          <div class="col-md-6 text-end">
            <a href="../index.html"><h1 class="display-1 thin-text">Tom Hooper</h1></a>
            <h4 class="text-right">Dev in Training</h4>
          </div>
        </div>
        <div class ="row dark-background round-edge-top">
          <div class="col-md-12">
            <hr>
            <h2>Sub-Heading</h2>
            <h4 style="padding-bottom: 8px;"><em>Lorem Ipsum?</em></h4>
          </div>
        </div>
      </div>
    </body>
</html>